[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/meruvasivakumari
[access "refs/for/refs/*"]
	read = group user/meruvasivakumari
	push = group user/meruvasivakumari
	label-Code-Review = -2..+2 group user/meruvasivakumari
	label-Verified = -1..+1 group user/meruvasivakumari
	rebase = group user/meruvasivakumari
	removeReviewer = group user/meruvasivakumari
	submit = group user/meruvasivakumari
[access "refs/heads/*"]
	read = group user/meruvasivakumari
	create = group user/meruvasivakumari
	push = +force group user/meruvasivakumari
	pushMerge = group user/meruvasivakumari
[access "refs/tags/*"]
	push = group user/meruvasivakumari
	push = +force group user/meruvasivakumari
